<div class="column-1-2">
  <%= form_for(@user) do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: @user} %>

    <div class="form-field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="form-field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="form-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <% if f.object.persisted? %>
      <div class="form-field">
        <%= f.label :avatar_url %>
        <%= f.text_field :avatar_url %>
      </div>

      <div class="form-field">
        <%= f.label :color %>
        <%= f.color_field :color %>
      </div>

      <div class="buffer-top-large buffer-bottom">
        Если не хотите менять пароль — оставьте эти поля пустыми!
      </div>
    <% end %>

    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="form-action buffer-top">
      <% submit_text = 'Сохранить профиль' if f.object.persisted? %>
      <% submit_text = 'Зарегистрировать' if f.object.new_record? %>
      <%= f.submit "#{submit_text}", class: 'button button-dark button-small' %>
    </div>
  <% end %>
</div>
