<div class="column-1-2">
  <%= form_for(@user) do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: @user} %>

    <div class="form-field">
      <%= label_tag :email, 'Email (login)', class: 'form-label' %>
      <%= f.text_field :email, class: 'form-text-field' %>
    </div>

    <div class="form-field">
      <%= f.label :username, 'Никнейм', class: 'form-label' %>
      <%= f.text_field :username, class: 'form-text-field' %>
    </div>

    <div class="form-field">
      <%= f.label 'Ваше имя', class: 'form-label' %>
      <%= f.text_field :name, class: 'form-text-field' %>
    </div>

    <% unless registration %>
      <div class="form-field">
        <%= f.label 'URL вашей аватарки', class: 'form-label' %>
        <%= f.text_field :avatar_url, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label 'Выберите цвет профиля: ', class: 'form-label' %>
        <%= f.color_field :color, class: 'form-text-field', type: 'color' %>
      </div>

      <div class="buffer-top-large buffer-bottom">
        Если не хотите менять пароль — оставьте эти поля пустыми!
      </div>
    <% end %>

    <div class="form-field">
      <%= f.label :password, class: 'form-label' %>
      <%= f.password_field :password, class: 'form-text-field' %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation, class: 'form-label' %>
      <%= f.password_field :password_confirmation, class: 'form-text-field' %>
    </div>

    <div class="form-action buffer-top">
      <%= f.submit "#{submit_text}", class: 'button button-dark button-small' %>
    </div>
  <% end %>
</div>
