<div class="user-header text-center user__profile" style="background-color: <%= @user.color %>">
  <h1 class="title-medium">
    <%= @user.name %>
    <%= link_to fa_icon('edit'), edit_user_path(@user), title: 'Редактировать профиль' if current_user == @user %>
  </h1>

  <div class="user-image-div">
    <%= image_tag user_avatar(@user), class: 'user-image', alt: '[Фото]' %>
  </div>

  <h2 class="title-small buffer-both">
    @<%= @user.username %>
  </h2>

  <div class="user-statistics text-center">
    <%= questions_count(@questions, 'Нет вопросов', 'Всего') %>
    <%= questions_count(@questions.answered, '', ': ответил на') %>
    <%= questions_count(@questions.not_answered, '', ', нет ответа на') %>
  </div>
</div>

<div class="user-ask-button container text-center">
  <%= link_to "Спроси меня", '', class: 'button button-light', id: 'ask-button' %>
</div>

<%# Блок с формой чтобы задать пользователю вопрос %>
<div class="user-question-form-div column-1-4 column-1-4-right" id='ask-form'>
  <div class="user-question-form buffer-both">
    <div class="form">
      <%= form_for @new_question do |f| %>
        <%= f.hidden_field :user_id %>

        <div class="form-field">
          <%= f.label "Ваш вопрос для @#{@user.username}", class: 'form-label' %>
          <%= f.text_area :text, class: 'form-textarea', id: "test" %>
        </div>

        <div class="form-action", id: "ask-button2">
          <%= submit_tag 'Задать вопрос', class: 'button button-small button-dark' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# Блок со списком вопросов к пользователю %>
<div class="column-3-4">
  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>
